@model MyCollections.ViewModels.LoginViewModel
<link href="~/css/RegLoginPage.css" rel="stylesheet" />

<form method="post" class="ui-form" asp-controller="User" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">

    <h3>SIGN IN</h3>
    <div class="form-row">
        <label asp-for="Email">UserName</label><br/>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-row">
        <label asp-for="Password">
            Password
        </label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <p><input type="submit" value="SIGN IN"></p>
</form>