@Model MyCollections.Models.User;

@{

}

<form id="rendered-form">

    <div class="rendered-form">
        <div class="formbuilder-textarea form-group field-textarea-1651927795264-0">
            <label for="textarea-1651927795264-0" class="formbuilder-textarea-label">
                Текстовое поле
            </label>
            <textarea class="form-control" name="textarea-1651927795264-0" id="textarea-1651927795264-0">UserName </textarea>
        </div>

    </div>
</form>

